body {
    background-color: white;
    margin: 10px;
    margin-top: 145px;
    scrollbar-color: yellow;
    scrollbar-width: 20px;
}

header {
    background-color: rgba(42, 170, 182, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0px 5px 10px rgb(134, 134, 134);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav > ul > a > li {
    display: inline-flex;
    padding: 10px 38px;
    font-size: 1.25rem;
    margin: 0% 0.5%;
    min-width: 7%;
    text-align: center;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

nav > ul > a {
    text-decoration: none;
}

nav > ul {
    display: inline-flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    padding-right: 70px;
}

nav > ul > a > li {
    text-decoration: none;
    color: white;
}

nav > ul > a > li:visited {
    background-color: lightgreen;
}

nav > ul > a > li:hover {
    border-bottom: 3px white solid;
}

nav > ul > a > li:active {
    background-color: hsl(185, 63%, 40%);
}

section {
    font-family: Arial, Helvetica, sans-serif;
    display: inline-flex;
    flex-direction: column;
    align-self: center;
}

.sub-heading {
    font-weight: 50;
    color: rgb(119, 119, 119);
}

article {
    font-size: 15px;
    text-align: justify;
    line-height: 20px;
}

.title {
    font-size: 23px;
    font-weight: bold;
}

.ref > a {
    text-decoration: none;
    color: rgb(0, 136, 113);
}

.date {
    font-style: italic;
    font-size: 15px;
    text-transform: uppercase;
}

#content {
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    padding: 0rem 4rem;
}

#copyright {
    padding: 1% 0%;
    text-align: center;
    font-family: sans-serif;
    font-size: 1.4rem;
    font-weight: 300;
    color: rgb(14, 88, 95);
}