body {
    margin-top: 145px;
    margin-left: 0;
    margin-right: 0;
}
header {
    background-color: rgba(42, 170, 182, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0px 5px 10px rgb(134, 134, 134);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav > ul > a > li {
    display: inline-flex;
    padding: 10px 38px;
    font-size: 1.25rem;
    margin: 0% 0.5%;
    min-width: 7%;
    text-align: center;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

nav > ul > a {
    text-decoration: none;
}

nav > ul {
    display: inline-flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    padding-right: 70px;
}

nav > ul > a > li {
    text-decoration: none;
    color: white;
}

nav > ul > a > li:visited {
    background-color: lightgreen;
}

nav > ul > a > li:hover {
    border-bottom: 3px white solid;
}

nav > ul > a > li:active {
    background-color: hsl(185, 63%, 40%);
}

#intro, #hobbies, #exp, #skill {
    width: 100%;
    border-bottom: 4px solid rgb(24, 134, 161);
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    box-shadow: 0px 18px 10px 7px rgb(207, 207, 207);
}

#profile {
    display: inline-block;
    width: 400px;
    height: 40%;
    padding: 1% 3% 1% 4%;
    text-align: center;
    font-family: sans-serif;
    color: rgb(14, 88, 95);
}

#profile > h1 {
    font-weight: 400;
    font-size: 2rem;
}

#profile > h3 {
    font-weight: 200;
    font-size: 1.25rem;
}

#profile > img {
    border-radius: 100%;
    box-shadow: 5px 5px 10px 5px rgb(187, 187, 187);
}

#intro {
    display: inline-flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
}

#content {
    width: 800px;
    display: inline-block;
    padding: 1% 3% 1% 4%;
    text-align: justify;
}

#content > p {
    font-size: 1.125rem;
    margin-bottom: 5%;
    font-family: sans-serif;
    line-height: 1.55rem;
    font-weight: 500;
    padding: 0rem 1rem;
}

#content > h3{
    padding: 0rem 1rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    color: rgb(14, 88, 95);
}

#hobbies > h3 , #exp > h3, #skill > h3 {
    text-align: center;
    padding-top: 2%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    color: rgb(14, 88, 95);
}

#hobbies > div {
    display: inline-flex;
    width: 100%;
    justify-content: center;
    align-content: center;
}

#hobbies > div > ul {
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-bottom: 3%;
}

#hobbies > div > ul > li {
    display: inline-block;
    font-family: sans-serif;
    font-size: 1.4rem;
    line-height: 2.5rem;
    font-weight: 400;
}

#hobbies > div > ul > li > ul > li {
    font-size: 1.2rem;
    line-height: 2rem;
    font-weight: 300;
}

#exp {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 4%;
    width: 100%;
}

#exp > div {
    display: inline-flex;
    justify-content: center;
}

#exp > div > ul  {
    display: inline-flex;
    flex-direction: column;
    padding-right: 40px;
}

#exp > div > ul > li {
    display: inline-flex;
}

#exp > div > ul > li > h2 {
    font-family: sans-serif;
    font-size: 1.3rem;
    font-weight: 400;
}

#exp > div > ul > li > p {
    font-family: sans-serif;
    font-size: 1.2rem;
    font-weight: 200;
    color: gray;
}

#skill {
    display: inline-flex;
    flex-direction: column;
}

#skill > div {
    display: inline-flex;
    justify-content: center;
}

#skill > div > table {
    padding-bottom: 4%;
    text-align: left;
    width: 550px;
    height: 150px;
    font-family: sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
}

#copyright {
    padding: 1% 0%;
    text-align: center;
    font-family: sans-serif;
    font-size: 1.4rem;
    font-weight: 300;
    color: rgb(14, 88, 95);
}